*{
    box-sizing: border-box;
    
}

body{
    background-image: url(background.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

#containerSito{
    width: 1300px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    padding: 15px;
    border-radius: 15px;
    
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 250px;
    

}
.ContbottoniFlexati{
    background-color: lime;
    flex-direction: row;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    
    
}
.bottone{
    padding: 3px;
    margin-right: 9px;
    
    
}
.containerMonopattini{
    align-items: flex-start;
}
h1{
    color: lime;
}
h2{
    display: inline-block;
    color: white;
}
p{
    margin-top: -10px;
    color: white;
}
.statoCaricaGino{
    width: 300px;
    height: 30px;
    background-color: orange;
    border-radius: 7px;
}
.statoCaricaMike{
    width: 700px;
    height: 30px;
    background-color: rgb(31, 243, 12);
    border-radius: 7px;
}
.statoCaricaAlfredo{
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 7px;
}